#Saman Aijaz Siddiqui (B21BB027)

## MLOps Assignment 1

Q1. Print multiplication table from 1 to 10

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Q2. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.

In [ ]:
# Sample lists
l1 = [1, 2, 3, 4, 5, 6]
l2 = [10, 20, 30, 40, 50, 60]

# Create the third list l3
l3 = []

#assuming 0 based indicing

# Initialize indexes
index_l1 = 1  # Start from the first odd index
index_l2 = 0  # Start from the first even index

# Alternately pick elements from l1 and l2
while index_l1 < len(l1) or index_l2 < len(l2):
    if index_l1 < len(l1):
        l3.append(l1[index_l1])
        index_l1 += 2  # Move to the next odd index

    if index_l2 < len(l2):
        l3.append(l2[index_l2])
        index_l2 += 2  # Move to the next even index

print("List l3:", l3)

List l3: [2, 10, 4, 30, 6, 50]

Q3. Print a this pattern(*)

    * * * * * * * *
      * * * * * * *
        * * * * * *
          * * * * *
            * * * *
              * * *
                * *
                  *

In [ ]:
def print_pattern(rows):
    for i in range(rows):
        # Print leading spaces
        print(' ' * 2 * i, end='')
        # Print asterisks
        print('* ' * (rows - i))

# Number of rows
rows = 8
print_pattern(rows)

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

Q4. Create a function named `exponent(base, exp)` that returns an integer representing the result of raising `base` to the power of `exp`.
`exp` is >0.

base = 5
exponent = 4

5 raises to the power of 4 is: 625
i.e. (5 *5 * 5 *5 = 625)

In [ ]:
def exponent(base, exp):
    result = 1
    for _ in range(exp):
        result *= base
    return result

# Example usage
base = 5
exp = 4
print(f"{base} raised to the power of {exp} is: {exponent(base, exp)}")

5 raised to the power of 4 is: 625

Q5. Create a file named test.txt and insert the following content into it.

    line1
    line2
    line3
    line4
    line5
    line6
    line7

Write a program which write all content of a given file (test.txt) into a new file by skipping line number 5 (line5)

In [2]:
def process_file(input_file, output_file):
    with open(input_file, 'r') as file:
        lines = file.readlines()

    with open(output_file, 'w') as file:
        for i, line in enumerate(lines):
            if i != 4:  # Line numbers are 0-based, so line 5 is index 4
                file.write(line)

# File names
input_file = 'test.txt'
output_file = 'new_test.txt'

# Write initial content to test.txt
with open(input_file, 'w') as file:
    file.write('line1\n')
    file.write('line2\n')
    file.write('line3\n')
    file.write('line4\n')
    file.write('line5\n')
    file.write('line6\n')
    file.write('line7\n')

# Process the file
process_file(input_file, output_file)

# Function to print the contents of a file
def print_file_contents(file_name):
    with open(file_name, 'r') as file:
        contents = file.read()
        print(contents)

# Print the output of the saved file
output_file = 'new_test.txt'
print_file_contents(output_file)

line1
line2
line3
line4
line6
line7

Q6. Write a program which receives three names from the user in a single input() function call.

    Input: IIT JODHPUR RAJASTHAN

    Output:
    IIT
    JODHPUR
    RAJASTHAN

In [ ]:
# Receive input from the user
input_string = input("Enter three names separated by spaces: ")

# Split the input string into a list of names
names = input_string.split()

# Print each name on a new line
for name in names:
    print(name)

Enter three names separated by spaces: IIT JODHPUR RAJASTHAN
IIT
JODHPUR
RAJASTHAN

Q7. Write a program to define a function called show_employee() with the following requirements:

*   It should take the employee's name and salary as input and display both.
*   If the salary is not provided in the function call, assign a default value of 9000 to it.

After passing:

showEmployee("Bill Gates", 12000)

showEmployee("Elon Musk")

It should print:

Name: Bill Gates salary: 12000

Name: Elon Musk salary: 9000

In [ ]:
def show_employee(name, salary=9000):
    print(f"Name: {name} salary: {salary}")

# Example usage
show_employee("Bill Gates", 12000)
show_employee("Elon Musk")

Name: Bill Gates salary: 12000
Name: Elon Musk salary: 9000

Q8. Write a program to identify words that contain both letters and digits from a given input string.

    Given str1 = "Harry25 is Gryffindor Wizard50 and cursed"

    Output:
    Harry25
    Wizard50

In [ ]:
import re

def find_words_with_letters_and_digits(input_string):
    # Regular expression to match words with both letters and digits
    pattern = re.compile(r'\b(?=\w*\d)(?=\w*[a-zA-Z])\w+\b')

    # Find all matching words
    words = pattern.findall(input_string)

    return words

# Given input string
str1 = "Harry25 is Gryffindor Wizard50 and cursed"

# Find words with both letters and digits
result = find_words_with_letters_and_digits(str1)

# Print each word on a new line
for word in result:
    print(word)

Harry25
Wizard50

Q9. Write a program to substitute each special character in the given string with the symbol #.

    Given: str1 = '/*Modi is @Politician & Melony!!'

    Output: ##Modi is #Politician # Melony##

In [ ]:
import re

def replace_special_characters(input_string):
    # Regular expression pattern to match special characters
    pattern = re.compile(r'[^a-zA-Z0-9\s]')

    # Replace each special character with '#'
    result = pattern.sub('#', input_string)

    return result

# Given string
str1 = '/*Modi is @Politician & Melony!!'

# Substitute special characters and print the result
output = replace_special_characters(str1)
print(output)

##Modi is #Politician # Melony##

Q10. Construct a Python set that displays elements from both lists as pairs.

    Given:

    first_list = [2, 3, 4, 5, 6, 7, 8]
    second_list = [4, 9, 16, 25, 36, 49, 64]
    Output: Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [ ]:
# Given lists
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

# Create a set of pairs
result_set = set(zip(first_list, second_list))

# Print the result
print("Result is", result_set)

#order of mu output list is different as set is an unorderred collection

Result is {(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

Q11. Define two set A and B consisting of 5 elements. Now print the element after performing


      1.   A-B
      2.   B-A
      3.   A∩B
      4.   A∪B

In [ ]:
# Define sets A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# Perform the set operations
A_minus_B = A - B
B_minus_A = B - A
A_intersection_B = A & B
A_union_B = A | B

# Print the results
print("A - B:", A_minus_B)
print("B - A:", B_minus_A)
print("A ∩ B:", A_intersection_B)
print("A ∪ B:", A_union_B)

A - B: {1, 2, 3}
B - A: {8, 6, 7}
A ∩ B: {4, 5}
A ∪ B: {1, 2, 3, 4, 5, 6, 7, 8}

## Object Oriented Programming Exercise 1:

[Classes and Objects in Python](https://pynative.com/python-classes-and-objects/)

[Instance variables in Python](https://pynative.com/python-instance-variables/)

Q12. Create a Vehicle class with max_speed and mileage instance attributes.

In [ ]:
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

    def __str__(self):
        return f"Max Speed: {self.max_speed} km/h, Mileage: {self.mileage} km"

# Example usage
# Create an instance of Vehicle
car = Vehicle(max_speed=180, mileage=15000)

# Print the vehicle's details
print(car)

Max Speed: 180 km/h, Mileage: 15000 km

Q13. Create a child class Bus that will inherit all of the variables and methods of the Vehicle class.

Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

In [ ]:
# Define the parent class Vehicle
class Vehicle:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage

    def __str__(self):
        return f"Max Speed: {self.max_speed} km/h, Mileage: {self.mileage} km"

# Define the child class Bus that inherits from Vehicle
class Bus(Vehicle):
    def __init__(self, max_speed, mileage, capacity):
        # Call the constructor of the parent class
        super().__init__(max_speed, mileage)
        self.capacity = capacity

    def __str__(self):
        # Call the __str__ method of the parent class and add capacity information
        return super().__str__() + f", Capacity: {self.capacity} passengers"

# Example usage
# Create an instance of Bus
bus = Bus(max_speed=120, mileage=50000, capacity=50)

# Print the bus's details
print(bus)

Max Speed: 120 km/h, Mileage: 50000 km, Capacity: 50 passengers

### Class Inheritance

Q14. Create a Bus class that inherits from the Vehicle class. Give the capacity argument of Bus.seating_capacity() a default value of 50.

Use the following code for your parent Vehicle class.

    class Vehicle:
      def __init__(self, name, max_speed, mileage):
          self.name = name
          self.max_speed = max_speed
          self.mileage = mileage

      def seating_capacity(self, capacity):
          return f"The seating capacity of a {self.name} is {capacity} passengers"

Expected Output:

    The seating capacity of a bus is 50 passengers

In [ ]:
# Define the parent class Vehicle
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

# Define the child class Bus that inherits from Vehicle
class Bus(Vehicle):
    def __init__(self, name, max_speed, mileage, capacity=50):
        # Call the constructor of the parent class
        super().__init__(name, max_speed, mileage)
        self.capacity = capacity

    def seating_capacity(self, capacity=None):
        # Use the default capacity if no argument is provided
        if capacity is None:
            capacity = self.capacity
        return super().seating_capacity(capacity)

# Example usage
# Create an instance of Bus
bus = Bus(name="bus", max_speed=100, mileage=20000)

# Print the seating capacity using default capacity
print(bus.seating_capacity())  # Should print the default capacity

# Print the seating capacity using a specified capacity
print(bus.seating_capacity(60))

The seating capacity of a bus is 50 passengers
The seating capacity of a bus is 60 passengers

Q15. Create a Bus subclass that inherits from the Vehicle class. By default, the fare for any vehicle is calculated as the seating capacity multiplied by 100. For instances of the Bus class, an additional 10% maintenance fee should be applied to the total fare. Therefore, the final fare for a bus instance will be the sum of the total fare plus an additional 10% of that total fare.

Note: The bus has a seating capacity of 50, so the final fare amount should be 5500. You need to override the fare() method from the Vehicle class in the Bus class.

Use the provided code for the parent Vehicle class. You should access the parent class within a method of the child class.

    class Vehicle:
      def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

      def fare(self):
        return self.capacity * 100

    class Bus(Vehicle):
        pass
        School_bus = Bus("School Volvo", 12, 50)
        print("Total Bus fare is:", School_bus.fare())

    Expected Output:

    Total Bus fare is: 5500.0

In [ ]:
# Define the parent class Vehicle
class Vehicle:
    def __init__(self, name, mileage, capacity):
        self.name = name
        self.mileage = mileage
        self.capacity = capacity

    def fare(self):
        return self.capacity * 100

# Define the child class Bus that inherits from Vehicle
class Bus(Vehicle):
    def fare(self):
        # Calculate the base fare using the parent class method
        base_fare = super().fare()
        # Calculate the total fare including the 10% maintenance fee
        total_fare = base_fare + (0.10 * base_fare)
        return total_fare

# Example usage
# Create an instance of Bus
School_bus = Bus("School Volvo", 12, 50)

# Print the total fare for the bus
print("Total Bus fare is:", School_bus.fare())

Total Bus fare is: 5500.0

### Python JSON Exercise
Refer: [Python JSON tutorials](https://pynative.com/python/json/)

Q16. Convert the following dictionary into JSON format

    data = {"key1" : "value1", "key2" : "value2"}
    data = {"key1" : "value1", "key2" : "value2"}

In [ ]:
import json

# Define the dictionary
data = {"key1": "value1", "key2": "value2"}

# Convert the dictionary to JSON format
json_data = json.dumps(data)

# Print the JSON formatted string
print(json_data)

{"key1": "value1", "key2": "value2"}

Q17. Sort JSON keys in and write them into a file

    sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

    {
          "age": 29,
          "id": 1,
          "name": "value2"
    }

In [ ]:
import json

# Define the sample JSON data
sampleJson = {"id": 1, "name": "value2", "age": 29}

# Convert the dictionary to a JSON formatted string with sorted keys
sorted_json = json.dumps(sampleJson, sort_keys=True, indent=4)

# Write the sorted JSON to a file
with open('sorted_json.json', 'w') as file:
    file.write(sorted_json)

print("Sorted JSON has been written to sorted_json.json")

Sorted JSON has been written to sorted_json.json